Repository USA-RedDragon/DMRHub: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend-unit, frontend-e2e

probably avoid race conditions
  .vscode/tasks.json
  internal/db/models/packet.go
  internal/dmr/hub/pools.go
  internal/dmr/hub/publishing.go
  internal/dmr/servers/ipsc/server.go
  internal/dmr/servers/ipsc/translator.go
  internal/dmr/servers/ipsc/translator_test.go
Due: backend

fix: prevent race conditions in server channel management
  internal/dmr/hub/hub.go
Due: backend

add country flags and components for users, talkgroups, and relative timestamps
  go.mod
  go.sum
  internal/http/api/controllers/v1/userdb/userdb.go
  internal/http/api/routes.go
  internal/http/frontend/src/components/LastHeardTable.vue
  internal/http/frontend/src/components/RelativeTimestamp.vue
  internal/http/frontend/src/components/RepeaterTable.vue
  internal/http/frontend/src/components/Talkgroup.vue
  internal/http/frontend/src/components/TalkgroupTable.vue
  internal/http/frontend/src/components/User.vue
  internal/http/frontend/src/components/UserTable.vue
  internal/http/frontend/src/services/talkgroup.ts
  internal/http/frontend/src/services/userdb.ts
Due: backend, frontend-unit, frontend-e2e

refactor: update database migration to include city, state, and country fields for repeaters
  internal/db/db.go
  internal/db/migration/migrations.go
  internal/db/models/repeater.go
  internal/db/models/repeater_configuration.go
  internal/db/models/repeater_test.go
  internal/dmr/hub/publishing.go
  internal/http/api/controllers/v1/repeaters/repeaters.go
  internal/http/api/controllers/v1/repeaters/repeaters_test.go
  internal/http/api/controllers/v1/userdb/userdb.go
  internal/http/frontend/src/components/RepeaterTable.vue
Due: backend, frontend-unit, frontend-e2e

rework migrations
  internal/db/migration/202302242025_repeater_radio_id.go
  internal/db/migration/202311190252_drop_join_table.go
  internal/db/migration/202506150100_add_repeater_type_column.go
  internal/db/migration/202602100435_fix_call_data.go
  internal/db/migration/202602100457_fix_call_data.go
  internal/db/migration/202602130100_add_simplex_repeater_column.go
  internal/db/migration/202602160100_split_location.go
  internal/db/migration/202602160200_fix_ipsc_repeater_data.go
Due: backend

add repeaters details page
  internal/db/models/repeater.go
  internal/http/frontend/src/components/RepeaterTable.vue
  internal/http/frontend/src/router/routes.ts
  internal/http/frontend/src/views/repeaters/RepeaterDetailsPage.vue
Due: backend, frontend-unit, frontend-e2e

feat: add user profile endpoint and user details page
  internal/http/api/controllers/v1/users/users.go
  internal/http/api/routes.go
  internal/http/frontend/src/components/User.vue
  internal/http/frontend/src/router/index.ts
  internal/http/frontend/src/router/routes.ts
  internal/http/frontend/src/views/users/UserDetailsPage.vue
Due: backend, frontend-unit, frontend-e2e

allow anon to see talkgroups
  internal/http/api/controllers/v1/lastheard/lastheard.go
  internal/http/api/controllers/v1/talkgroups/talkgroups_test.go
  internal/http/api/middleware/auth_test.go
  internal/http/api/routes.go
  internal/http/frontend/src/App.vue
  internal/http/frontend/src/components/AppHeader.vue
  internal/http/frontend/src/router/index.ts
Due: backend, frontend-unit, frontend-e2e

show repeater in last heard table
  internal/http/api/apimodels/calls.go
  internal/http/frontend/src/components/LastHeardTable.vue
  internal/http/frontend/src/components/Repeater.vue
  internal/http/frontend/src/services/repeater.ts
Due: backend, frontend-unit, frontend-e2e

feat: add talkgroup details page
  internal/http/api/routes.go
  internal/http/frontend/src/components/Talkgroup.vue
  internal/http/frontend/src/components/TalkgroupTable.vue
  internal/http/frontend/src/router/routes.ts
  internal/http/frontend/src/views/talkgroups/TalkgroupDetailsPage.vue
Due: backend, frontend-unit, frontend-e2e

remove bad test
  internal/http/api/controllers/v1/lastheard/lastheard_test.go
Due: backend

fix: ensure server shutdown is called only once
  internal/http/server.go
Due: backend

feat: Add peer rules management API and OpenBridge client
  cmd/root.go
  internal/config/config.go
  internal/db/migration/202602170100_add_peer_ip_port.go
  internal/db/migration/migrations.go
  internal/db/models/peer.go
  internal/db/models/peer_rule.go
  internal/db/models/peer_test.go
  internal/dmr/openbridge_integration_test.go
  internal/dmr/rules/rules_test.go
  internal/dmr/servers/kvclient.go
  internal/dmr/servers/kvclient_test.go
  internal/dmr/servers/openbridge/server.go
  internal/dmr/servers/openbridge/server_test.go
  internal/http/api/apimodels/peer.go
  internal/http/api/controllers/v1/peers/peers.go
  internal/http/api/controllers/v1/peers/peers_test.go
  internal/http/api/controllers/v1/peers/rules.go
  internal/http/api/routes.go
  internal/http/api/websocket/peers.go
  internal/http/frontend/src/views/admin/NewOpenBridgePeerPage.vue
  internal/testutils/integration.go
  internal/testutils/openbridge_client.go
  internal/testutils/peers.go
Due: backend, frontend-unit, frontend-e2e

adjust how we handle middleware
  internal/http/api/middleware/config.go
  internal/http/api/middleware/database.go
  internal/http/api/middleware/provider.go
  internal/http/api/middleware/readiness.go
  internal/http/api/middleware/version.go
  internal/http/server.go
Due: backend

fix 32 bit arches
  internal/dmr/rules/rules_test.go
Due: backend

feat: Enhance showcase functionality for nets and improve UI components
  internal/db/models/net.go
  internal/http/api/controllers/v1/nets/nets_test.go
  internal/http/frontend/src/views/admin/NetsPage.vue
  internal/http/frontend/src/views/nets/NetDetailsPage.vue
  internal/http/frontend/src/views/nets/NetsPage.vue
  internal/http/frontend/tests/unit/services/net.test.ts
  internal/testutils/nets.go
Due: backend, frontend-unit, frontend-e2e

feat: Add showcase column to scheduled nets and update related functionality
  internal/db/migration/202602170300_add_scheduled_net_showcase_column.go
  internal/db/migration/migrations.go
  internal/db/models/call.go
  internal/db/models/scheduled_net.go
  internal/dmr/netscheduler/scheduler.go
  internal/http/api/apimodels/net.go
  internal/http/api/controllers/v1/nets/nets.go
  internal/http/api/controllers/v1/nets/nets_test.go
  internal/http/api/controllers/v1/nets/scheduled_nets.go
  internal/http/frontend/src/services/net.ts
  internal/http/frontend/src/views/admin/NetsPage.vue
  internal/http/frontend/src/views/nets/NetDetailsPage.vue
Due: backend, frontend-unit, frontend-e2e

make navigation consistent
  internal/http/frontend/src/components/AppHeader.vue
Due: backend, frontend-unit, frontend-e2e

make button styling consistent
  internal/http/frontend/src/components/ModeToggle.vue
  internal/http/frontend/src/components/ui/data-table/DataTablePagination.vue
  internal/http/frontend/src/components/ui/sidebar/SidebarTrigger.vue
  internal/http/frontend/src/views/talkgroups/TalkgroupDetailsPage.vue
Due: backend, frontend-unit, frontend-e2e

fix: change button variant to destructive for scheduled net deletion
  internal/http/frontend/src/views/admin/NetsPage.vue
Due: backend, frontend-unit, frontend-e2e

feat: Add delete functionality for scheduled nets with confirmation prompt
  internal/http/frontend/src/views/talkgroups/TalkgroupDetailsPage.vue
Due: backend, frontend-unit, frontend-e2e

feat: Implement feature gating for OpenBridge and IPSC, update related tests and UI components
  internal/http/api/controllers/v1/peers/peers_test.go
  internal/http/api/controllers/v1/repeaters/repeaters.go
  internal/http/api/controllers/v1/repeaters/repeaters_test.go
  internal/http/api/routes.go
  internal/http/frontend/src/components/AppHeader.vue
  internal/http/frontend/src/router/routes.ts
  internal/http/frontend/src/store/index.ts
  internal/http/frontend/src/views/repeaters/NewRepeaterPage.vue
  internal/http/frontend/tests/e2e/feature-gating.cy.ts
  internal/testutils/http.go
Due: backend, frontend-unit, frontend-e2e

Automated update of RadioID.net Databases
  internal/repeaterdb/repeaterdb-date.txt
  internal/repeaterdb/repeaters.json.xz
  internal/userdb/userdb-date.txt
  internal/userdb/users.json.xz
Due: backend

ci: replace codecov with coverage action
  .github/workflows/test.yaml
  README.md
  codecov.yml
Due: none

configulator v2
  cmd/root.go
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_configulator.go
  internal/config/save_test.go
  internal/db/db_test.go
  internal/db/models/call_test.go
  internal/db/models/net_test.go
  internal/db/models/peer_test.go
  internal/dmr/calltracker/call_tracker_test.go
  internal/dmr/hub/hub_test.go
  internal/dmr/hub/publishing_test.go
  internal/dmr/netscheduler/scheduler_test.go
  internal/dmr/parrot/parrot_test.go
  internal/dmr/rules/rules_test.go
  internal/dmr/servers/instance_registry_test.go
  internal/dmr/servers/kvclient_test.go
  internal/dmr/servers/mmdvm/server_test.go
  internal/dmr/servers/mmdvm/shutdown_test.go
  internal/dmr/servers/mmdvm/valid_repeater_test.go
  internal/dmr/servers/openbridge/server_test.go
  internal/http/server_test.go
  internal/kv/kv_test.go
  internal/pubsub/pubsub_test.go
  internal/testutils/http.go
  internal/testutils/integration.go
  main.go
Due: backend

docs: generate config reference and example config
  .github/workflows/config-docs.yaml
  .pre-commit-config.yaml
  config.example.yaml
  doc/Configuration.md
Due: none

fix golangci-lint findings
  .github/workflows/go-static-checks.yaml
  .golangci.yaml
  internal/config/validate.go
  internal/db/models/net.go
  internal/dmr/servers/mmdvm/packet_handlers.go
  internal/http/api/controllers/v1/auth/auth.go
  internal/http/api/controllers/v1/config/config.go
  internal/http/api/controllers/v1/lastheard/lastheard.go
  internal/http/api/controllers/v1/meta.go
  internal/http/api/controllers/v1/nets/nets.go
  internal/http/api/controllers/v1/nets/scheduled_nets.go
  internal/http/api/controllers/v1/peers/peers.go
  internal/http/api/controllers/v1/peers/rules.go
  internal/http/api/controllers/v1/repeaters/repeaters.go
  internal/http/api/controllers/v1/talkgroups/talkgroups.go
  internal/http/api/controllers/v1/userdb/userdb.go
  internal/http/api/controllers/v1/users/users.go
  internal/http/api/middleware/auth.go
  internal/http/api/middleware/user_suspension.go
  internal/http/api/utils/context.go
  internal/http/api/utils/context_test.go
  internal/http/setupwizard/controllers/v1/setupwizard/setupwizard.go
  internal/http/setupwizard/middleware/auth.go
  internal/http/setupwizard/middleware/makedb.go
Due: backend

goreleaser v2 config with dockers_v2
  .github/workflows/release.yaml
  .goreleaser.yml
  Dockerfile
Due: none

configulator v2.3.0, reusable-actions v2.0.29
  .github/workflows/config-docs.yaml
  .github/workflows/go-static-checks.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  go.mod
  go.sum
  internal/config/config_configulator.go
Due: backend

ci: pin reusable-actions v2.0.29 by commit
  .github/workflows/config-docs.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Due: none

configulator v2.3.2
  .pre-commit-config.yaml
  config.example.yaml
  go.mod
  go.sum
Due: none

chore(deps): update go modules
  cmd/root.go
  go.mod
  go.sum
  internal/testutils/backends.go
Due: backend

chore(deps): update frontend packages
  .golangci.yaml
  internal/http/frontend/eslint.config.ts
  internal/http/frontend/package-lock.json
  internal/http/frontend/package.json
  internal/http/frontend/tsconfig.app.json
  internal/http/frontend/vite.config.ts
Due: backend

chore(deps): update node.js
  .node-version
Due: none

chore(deps): update alpine docker digest
  Dockerfile
Due: none

chore(deps): update github actions
  .github/workflows/build.yaml
  .github/workflows/config-docs.yaml
  .github/workflows/go-static-checks.yaml
  .github/workflows/per-arch-test.yaml
  .github/workflows/radioid.net.yaml
  .github/workflows/test.yaml
Due: none

Path conditions:
  backend: any of: internal/, cmd/, but not: internal/http/frontend/dist, internal/http/frontend/node_modules, **/*_gen.go, **/*_gen_test.go
  frontend-unit: any of: internal/http/frontend/src/, but not: internal/http/frontend/dist, internal/http/frontend/node_modules, **/*_gen.go, **/*_gen_test.go
  frontend-e2e: any of: internal/http/frontend/src/, but not: internal/http/frontend/dist, internal/http/frontend/node_modules, **/*_gen.go, **/*_gen_test.go
